{% extends 'base.html.twig' %}

{% block title %}MangaTech | {{ serie.name }}
{% endblock %}

{% block body %}
<div class="bg-white">
	<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
		<h2 class="text-3xl font-bold text-center mb-5 tracking-tight sm:text-4xl">{{ serie.name }}</h2>

		<div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">

			{% for manga in serie.getMangas() %}
			
				<a href="/manga/{{ manga.id }}" class="group">
					<div class="aspect-h-1 aspect-w-1 w-full h-[563px] overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2">
						<img src="{{ manga.getImage() ? asset(manga.getImage().url) : asset("/assets/images/no_visual.png") }}" alt="{{ manga.getImage() ? manga.getImage().alt : "Pas d'image disponnible pour cette série" }}" class="h-full w-full object-cover object-center group-hover:opacity-75">
					</div>
					<div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900">
						<h3>{{ serie.name }} Tome {{ manga.volumeNumber }}</h3>
						<p>{{ manga.price|number_format(2) }} €</p>
					</div>
						<h4>{{ manga.title ? manga.title : "" }}</h4>
					<p class="mt-1 text-sm italic text-gray-500">Date de parution original: {{ manga.editedAt|date("d/m/Y") }}</p>

				</a>
			{% endfor %}
		</div>
	</div>
</div>


{% endblock %}

